.plantrip{

}
.plantrip a.plan{
	float:right;
}
.item-aksi{
	float: left;
	width: 294px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 8px #ccc;
	overflow: hidden;
	min-height: 370px;
	margin: 0px 11px 10px 0px;
}
.item-aksi .image{
	width: 400px;
	height: 185px;
	overflow:hidden;
	position:relative;
}
.item-aksi .image img{
	max-height: 226px;
	max-width: 308px;
}
.item-aksi .desc{
	padding:10px;
}
.item-aksi .title{
	background: #222;
	color: #fff;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}
.item-aksi .title h2{
	padding: 9px 0px;
	margin: 0px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	text-transform:initial;
}
.item-aksi .desc .desc-top{
}
.item-aksi .desc .desc-top .text{
	float: left;
	width: 160px;
	text-align: right;
	padding: 6px 0px 0px 0px;
}
.item-aksi .desc .desc-top .text.terkumpul{
	text-align: left;
	padding: 6px 0px 0px 6px;
}
.item-aksi .desc .desc-top .info{	
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 8px;
	margin: 0px 0px 10px 0px;
	position:relative;
}
.item-aksi .desc .desc-top .info p{
	margin:0px;
}
.item-aksi .desc .desc-top .info.terkumpul:before {
	position: absolute;
	top: -7px;
	left: 5px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #eee;
	border-left: 7px solid transparent;
	border-bottom-color: rgb(103,194,239);
	content: '';
}
.item-aksi .desc .desc-top .info.target:before {
	position: absolute;
	top: 30px;
	left: 89px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-top: 7px solid #eee;
	border-left: 7px solid transparent;
	border-top-color: rgb(103,194,239);
	content: '';
}
.item-aksi .desc .desc-middle .fasilitator{
	border-top: 1px solid #ccc;
	padding: 15px 0px 0px;
	position:relative;
}
.item-aksi .desc .desc-middle .fasilitator .poin{
	position: absolute;
	z-index: 100;
	color: #fff;
	bottom: 54px;
	left: 70px;
	background: rgb(103,194,239);
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 50px;
	opacity: 0.8;
}
.item-aksi .desc .desc-middle .fasilitator .image{
	width: 100px;
	height: 100px;
	border-radius: 48px;
	float: left;
}
.item-aksi .desc .desc-middle .fasilitator .image img{
	min-width: 150px;
	min-height: 100px;
	width:100%;
}
.item-aksi .desc .desc-middle .fasilitator .desc{
	float: left;
	width: 167px;
	height: 130px;
}
.item-aksi .desc .desc-middle .fasilitator .desc h3 {
	margin: -4px 0px 0px;
	padding: 0px;
	font-size: 18px;
	text-align: center;
	line-height: 31px;
}
.item-aksi .desc .desc-middle .fasilitator .desc p{
	text-align:center;
}
.buttontra{
	margin: 0px auto 0px;
}
.item-aksi .desc .desc-middle .fasilitator h4 , .item-aksi .desc .desc-bottom h4{
	background: rgb(103,194,239);
	text-align: center;
	padding: 5px;
	color: #fff;
	font-weight: normal;
	border-radius: 4px;
	margin: 5px 0px;
}
.item-aksi .desc .desc-bottom a:hover{
	text-decoration:none;
}
.berangkat{
	position: absolute;
	width: 105px;
	text-align: center;
	top: -1px;
	right: 112px;
	display: inline-block;
	background: white;
	opacity: 0.8;
	color: white;
	border: 1px solid #CCC;
}
.berangkat p{
	margin:0px;
	color:#222;
}
.berangkat p.tgl{
	font-size: 30px;
	padding: 6px 0px;
}
.berangkat p.lama{
	background: #222;
	color: white;
}
.cerita h1, .plantrip h1{
	color: #fff;
	text-align: left;
	margin: 0px 0px 15px;
	text-shadow: 0px 4px 10px #222;
	background: #222;
	opacity: 0.8;
	text-transform: uppercase;
	width: 293px;
	font-size: 25px;
	padding: 15px;
}
.plantrip h1{
	text-align:right !important;
}
.ca-item .infoca .sisa, #alltrip .item .infoca .sisa{
	width: 336px;
	background: white;
	margin: 0px -20px;
	height: 45px;
	opacity: 0.9;
	text-align: left;
	font-size: 21px;
	padding: 30px 5px;
}
.ca-item .infoca .sisa p, #alltrip .item .infoca .sisa p{
	margin: 15px 0px;
	text-align: center;
	width:300px;
}
.plantrip{
	padding:20px 0px 0px;
}